<% provide(:title, 'About') %>

<!--<div class="row-fluid">
  <img class="about-image img-responsive" src="<%= image_path('gabejenn_about.jpg') %>"/>
</div>-->

<div class="row-fluid">
  <div class="span12">
    <h1><span>What is Coffee n' Beer?</span></h1>
    <div class="span12">
      <div class="span6">
        <blockquote>
        <p> Coffee n' Beer is our experiment and 6 month adventure. <br><br>Jenn and I quit our jobs in the Silicon Valley, and
          we're
          now traveling the United States. Our aim is to experience as much as possible that we couldn't experience in the
          constraints of working life.</p>
        </blockquote>
        <br><br>
      </div>
      <div class="span6">
        <blockquote>
        <p>We'd like to meet as many people as possible along our journey - and we hope you'd like to meet us! <br><br>We're hooked on coffee, and beer's always good, so we thought this would be a fun way to meet people
          and
          explore the country. We'll be developing software as we travel, and we're always looking for company in that
          endeavor as well. </p>
        </blockquote>
       </div>
      </div>
  <div class="span12">
    <div class="span6">
      <h1><span>Hang out with us</span></h1>
      <div class="span12">
        <blockquote>
          <p>
            Through our map on the home page, we'd love for you to set up a meeting with us. We're planning our trip as we
            go,
            and we're looking to see as much of North America as we can! Meet us for a coffee, a beer, or just to hang. We'd
            love to see what excites you. Heck, come camp with us for a few days as we explore the country. 
          </p>
      </blockquote>
      </div>
    </div>
    <div class="span6" style="margin-bottom:10em;">
      <h1><span>Get in touch</span></h1>
      <div class="span12">
        <blockquote>
        <p> If you have any suggestions for routes or stops, let us know. If you'd want to put us up for a night or two,
          we'd be grateful. If there's a product you want to build with us, reach out! We'd love to hear from you! We've got
          the info on our <a href="/contact">contact page</a>.</p>
        </blockquote>
      </div>
    </div>
  </div>