<% provide(:title, 'About') %>
<h1>What is Coffee n' Beer?</h1>

<p> Coffee n' Beer is our experiment and 6 month adventure. Jenn and I quit our jobs in the silicon valley, and we're
  now traveling the United States. Our aim is to experience as much as possible that we couldn't experience in the
  constraints of working life. We'd like to meet as many people as possible along our journey - and we hope you'd like
  to meet us! We're hooked on coffee, and we both enjoy an evening beer (maybe half a beer for Jenn), so we thought
  this
  could be a fun way to meet people and explore the country. </p>

<p> Through our map on the home page, we'd love for you to set up a meeting with us. We're planning our trip as we go,
  and we're looking to hang in all parts of North America! Meet us for a coffee, a beer, or at your favorite local
  spot.
  Heck, join us for a few days as we explore your part of the country. We'd love to see what excites you.</p>

<p> If you have any suggestions for routes or stops, or would like to put us up for a night or two, reach out to us by
  email or via our contact page. We'd love to hear from you!</p>

<p> Best,</p>

<p> Gabe and Jenn</p>

