<% provide(:title, 'Blog') %>
<div id="bloggy"></div>

<script>
    $('<iframe />').attr({src:'http://coffeenbeer.tumblr.com',height:"1500px",width:"1000px",frameborder:"0"}).appendTo('#bloggy');
</script>