<% provide(:title, 'Contact') %>

<div class="row-fluid">
  <div class="span6 text-center">
    <img class="img-circle img-responsive" src="<%= image_path('jenn_face.jpg') %>"/>
    <h3>Jenn Leung</h3>
    <p>jennleung0@gmail.com</p>
  </div>
  <div class="span6 text-center">
    <img class="img-circle img-responsive" src="<%= image_path('gabe_face.jpg') %>"/>
    <h3>Gabe Grazier G'Sell</h3>
    <p>gabergg@gmail.com</p>
  </div>
</div>
<div class="row-fluid">
  <div class="text-center">
    <p style="margin-top:50px">coffeenbeer.adventure@gmail.com</p>
  </div>
</div>