<% provide(:title, 'Contact') %>

<div class="contact-wrapper">
  <div class="row-fluid">
    <div class="span6 text-center">
      <img class="img-circle img-responsive" src="<%= image_path('jenn_face.jpg') %>"/>

      <h3>Jenn Leung</h3>

      <div id="externals">
        <ul class="externals-list">
          <li>
            <a target='_parent' href='http://www.linkedin.com/in/jennleung' class='symbol' title='roundedlinkedin'></a>
          </li>
          <li><a target='_parent' href='http://www.github.com/jennguam' class='symbol' title='roundedgithubalt'></a>
          </li>
          <li>
            <a target='_parent' href='http://www.facebook.com/jenn.w.leung' class='symbol' title='roundedfacebook'></a>
          </li>
          <li>
            <a target='_parent' href='http://www.twitter.com/_imajennation' class='symbol' title='roundedtwitterbird'></a>
          </li>
        </ul>
      </div>
      <p>jennleung0@gmail.com</p>
    </div>
    <div class="span6 text-center">
      <img class="img-circle img-responsive" src="<%= image_path('gabe_face.jpg') %>"/>

      <h3>Gabe Grazier G'Sell</h3>

      <div id="externals">
        <ul class="externals-list">
          <li>
            <a target='_parent' href='http://www.linkedin.com/in/gabegsell' class='symbol' title='roundedlinkedin'></a>
          </li>
          <li><a target='_parent' href='http://www.github.com/gabergg' class='symbol' title='roundedgithubalt'></a></li>
          <li><a target='_parent' href='http://www.facebook.com/gabe.gsell' class='symbol' title='roundedfacebook'></a>
          </li>
        </ul>
      </div>
      <p>gabergg@gmail.com</p>
    </div>
  </div>
  <div class="row-fluid" style="margin-bottom: 3em">
    <div class="text-center">
      <p style="margin-top:50px">coffeenbeer.adventure@gmail.com</p>
    </div>
  </div>
</div>