<% provide(:title, 'Contact') %>

<div class="row-fluid">
  <div class="span6 text-center">
    <img class="img-circle img-responsive" src="<%= image_path('jenn_face.jpg') %>"/>
    <p>Jenn Leung</p>
  </div>
  <div class="span6 text-center">
    <img class="img-circle img-responsive" src="<%= image_path('gabe_face.jpg') %>"/>
    <p>Gabe Grazier G'Sell</p>
  </div>
</div>