<% provide(:title, 'Contact') %>

<h1>Contact Us</h1>
<p>If you have questions, comments, suggestions, or just want to chat, we'd love to hear from you!</p>
<p>Gabe Grazier G'Sell - gabergg@gmail.com</p>
<p>Jenn Leung - jennleung0@gmail.com</p>