<div id="home_content">
  <h1>Coffee n' Beer</h1>

  <p>Click anywhere on the map or enter an address or location, and we'd love to come meet you!</p>
  <input id="pac-input" class="controls" style="width:500px; margin-top: 10px; height: 20px;" type="text" placeholder="Address or location">

  <div id="map-canvas"></div>
  <script>loadScript()</script>
  <%#= javascript_include_tag "spiderify" %>
</div>

