<div class="home-image-container">
  <div class="row-fluid">
    <h1>Welcome to Coffee n' Beer!</h1>
  </div>
  <div class="row-fluid">
    <div class="span6"><h1 class="home-image-currently">We're currently in:</h1></div>
    <div class="span6"><h1 class="home-image-location">Ann Arbor, MI</h1></div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <p>Welcome! Coffee n' Beer is our experiment and 6 month adventure. We left our jobs in the Silicon Valley,
      and we're now traveling the United States and Canada. Our aim is to experience as much as possible that we
      couldn't
      experience in the constraints of working life. We're meeting people, and we're writing software. We'd love to get
      together.</p>

    <p> Thanks for stopping by! <br> Jenn and Gabe</p>
  </div>
</div>

<div class="row-fluid map-container text-center">
  <p>Drop us a pin*, and we'd love to come meet you!</p>
  <input id="pac-input" class="controls" style="width:500px; margin-top: 10px; height: 20px;" type="text" placeholder="Enter an address or location">

  <div id="map-canvas"></div>
  <script>loadScript()</script>
  <p>*Click anywhere on the map to drop a pin. You can also use the search bar to enter an address or the name of your
    favorite spot.</p>
</div>