<div class="row-fluid">
  <!--<div id="home_content">
    <div class="status">
      <div id="front-words">We're currently in:
        <br><br><br><br><br><br><br><span id="front-words_bottom">Ann Arbor, MI</span></div>
    </div>
  </div>-->
  <p>Click anywhere on the map or enter an address or location, and we'd love to come meet you!</p>
  <input id="pac-input" class="controls" style="width:500px; margin-top: 10px; height: 20px;" type="text" placeholder="Address or location">

  <div id="map-canvas"></div>
  <script>loadScript()</script>
</div>
</div>

