<h1>Coffee n' Beer</h1>
<p>Add a meeting to our map, and we'll plan our trip around you!</p>
<input id="pac-input" class="controls" style="width:500px; margin-top: 10px; height: 20px;" type="text" placeholder="Address or location">
<div id="map-canvas"></div>
<script>loadScript()</script>


