<div class="intro-wrapper" style="height: 100vh">

  <section id="intro" class="intro-section">

    <div class="home-image-container">
      <div class="row-fluid">
        <h1>Come Join Us On Our Adventure!</h1>
      </div>
      <div class="row-fluid">
        <div class="span6 offset6"><h1 class="home-image-location">-Jenn &amp; Gabe</h1></div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8 offset2">
        <p style="font-size:20px;"><strong>Coffee n' Beer is our experiment and 6 month adventure.</strong><br><br>We
          left
          our jobs in the Silicon Valley,
          and we're now traveling the United States and Canada. Our aim is to experience as much as possible that
          we couldn't experience in the constraints of working life. We're meeting people, and we're writing software.
          We'd love to
          get together.</p>
      </div>
    </div>

  </section>

  <div id="map-button" class="arrow"></div>

</div>

<div class="map-wrapper">

  <section id="map" class="map-section">

    <div class="row-fluid map-container text-center">
      <p>Drop us a pin*, and we'd love to come meet you!</p>
      <input id="pac-input" class="controls" style="width:500px; margin-top: 10px; height: 20px;" type="text" placeholder="Enter an address or location">

      <div id="map-canvas"></div>
      <script>loadScript()</script>
      <p>*Click anywhere on the map to drop a pin. You can also use the search bar to enter an address or the name of
        your
        favorite spot.</p>
    </div>
  </section>

</div>

<script>
    $("#map-button").click(function () {
        $('html, body').animate({
            scrollTop: $("#map").offset().top
        }, 250);
    });
</script>