<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
 
 <div class="row-fluid">
<div id="home_content">

  <h1 class="words">Coffee // Beer</h1>
  <%= image_tag("frontpage.jpg", :id =>"home_banner" )%>
<div class="container">
  <p>Click anywhere on the map or enter an address or location, and we'd love to come meet you!</p>
  <input id="pac-input" class="controls" style="width:500px; margin-top: 10px; height: 20px;" type="text" placeholder="Address or location">

  <div id="map-canvas"></div>
  <script>loadScript()</script>
 </div>
</div>
</div>

