<div class="intro-wrapper" style="height: 50vh; min-height: 685px">

  <section id="intro" class="intro-section">
    <div class="text-center">
      <a href="/about"><img class="home-image" src="<%= image_path('jenngabe_bike.jpg') %>"/></a>

      <div class="row-fluid">
        <div class="span8 offset2">
          <p style="font-size:20px;"><strong>Coffee n' Beer is our experiment and 6 month adventure.</strong><br><br>We
            left
            our jobs in the Silicon Valley,
            and we're now traveling the United States and Canada. Our aim is to experience as much as possible that
            we couldn't experience in the constraints of working life. We're meeting people, and we're writing software.
            Join us for a coffee or beer - we'd love to get together! Check out our map below.</p>
        </div>
      </div>

  </section>

  <div id="map-button" class="arrow" style="margin-top:55px"></div>

</div>

<div class="map-wrapper">

  <section id="map" class="map-section">

    <div class="row-fluid map-container text-center">
      <p>Drop us a pin*, and we'd love to come meet you!</p>
      <input id="pac-input" class="controls" style="width:500px; margin-top: 10px; height: 20px;" type="text" placeholder="Enter an address or location">

      <div id="map-canvas"></div>
      <script>loadScript()</script>
      <p>*Click anywhere on the map to drop a pin. You can also use the search bar to enter an address or the name of
        your
        favorite spot.</p>

      <p>Because the pins are public, we adjust your location with random noise for your privacy. Feel free to use the
        address of a restaurant or even just a city name. Your contact information will remain private.</p>
    </div>
  </section>

</div>

<script>
    $("#map-button").click(function () {
        $('html, body').animate({
            scrollTop: $("#map").offset().top
        }, 250);
    });
</script>