---
layout: default
---

<!-- Look the author details up from the site config. -->
{% assign author = site.data.authors[page.author] %}


<div id="post">
    <div class="row-fluid">
        <div class="span9">
            {% assign minutes = content | number_of_words | divided_by: 180 %}
            {% if minutes == 0 %}
            {% assign minutes = 1 %}
            {% endif %}
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
                <!--<span class="date" style="float:right; margin-right:1em;">{{ minutes }} minute read</span>-->
            </p>

            <div class="span12" style="margin-left: 0px; ">
                <img class="img-circle img-responsive" id="gravatar"
                     src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=100">

                <h3 class="content post-title"><span class="post-title">{{ page.title }}</span>
                </h3>
                <!-- Output author details if some exist. -->
                {% if author %}
                <span id="authorname">by {{ author.name }}</span>
                {% endif %}
                <br>
            </div>

            <div class="span11 content" style="margin-bottom: 3em; margin-top: 25px; ">
                {{ content }}
                <br/>

                <p style="font-size: 14px">Let us know if you're interested in chatting about software, traveling, or
                    anything else! Feel free to reach out to us via the information on our <a href="/contact">contact
                        page!</a></p>
                <hr>
            </div>

            <ul class="archive-feed-footer content span4" style="list-style-type: none">
                <li><a href="/blog/archive"><i class="icon-arrow-left"></i><span>   Back to archive</span></a></li>
                <li><a href="/blog"><i class="icon-arrow-left"></i><span>   Back to feed</span></a></li>
            </ul>

        </div>
        <ul class="archive-feed span2"
            style="list-style-type: none; padding-left:2em; padding-bottom:2em; border-left: 1px solid #ABABAB;">
            <li style="margin-bottom:.25em;"><a href="/blog/archive"><i class="icon-inbox"></i>&nbsp;&nbsp;&nbsp;&nbsp;Archive</a>
            </li>
            <li><a href="/blog"><i class="icon-align-justify"></i>&nbsp;&nbsp;&nbsp;&nbsp;Feed</a></li>
        </ul>

    </div>
</div>