---
layout: default
title: Blog Index
---

<div id="home">
    <div class="row-fluid">
        <div class="span9">
            <!-- This loops through the paginated posts -->

            {% for post in paginator.posts %}
            {% assign minutes = post.content | number_of_words | divided_by: 180 %}
            {% if minutes == 0 %}
            {% assign minutes = 1 %}
            {% endif %}
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
                <span class="date" style="float:right; margin-right:1em;">{{ minutes }} minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog{{ post.url }}" class="post-title">{{ post.title }}</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em; ">
                {{ post.content }}
                <hr>
            </div>

            {% endfor %}

            <ul class="pager">
                {% if paginator.previous_page %}
                <li class="previous"><a
                        href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
                    Newer</a></li>
                {% endif %}
                {% if paginator.next_page %}
                <li class="next"><a
                        href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &rarr;</a>
                </li>
                {% endif %}
            </ul>

        </div>
        <ul class="well archive-feed span2" style="list-style-type: none; padding-left:2em; padding-bottom:2em;">
            <li><a href="/blog/archive">Archive</a></li>
            <li><a href="/blog">Feed</a></li>
        </ul>
    </div>
</div>
