var infowindow;
var markerInfoWindow;
var currentMarkerInfoWindow;
var map;
var allMarkers = [];
window.globalMarkers = [];
//var oms;
var currentLocation = { 'city': 'Montreal', 'state': 'QC', 'lat': 45.508670, 'long': -73.553992 };

function initialize_map() {
    var update_timeout = null;
    var latlng = new google.maps.LatLng(39.8282, -98.5795);
    var options = {
        zoom: 4,
        maxZoom: 16,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.DEFAULT
        }
    }

    map = new google.maps.Map(document.getElementById("map-canvas"), options);

    /* position: {lat: markerSet[i].latitude, lng: markerSet[i].longitude} */
    var latlngCurrent = new google.maps.LatLng(currentLocation.lat, currentLocation.long);
    var markerCurrent = new google.maps.Marker({
        map: map,
        position: latlngCurrent,
        name: "Gabe & Jenn",
        icon: "<%= image_path('car_icon.png') %>",
        zIndex: 10000,
        optimized: false
    });

    currentMarkerInfoWindow = new google.maps.InfoWindow({
    });

    google.maps.event.addListener(markerCurrent, 'mouseover', function () {
        currentMarkerInfoWindow.setContent("<div class='hover_name'><strong>" + this.name + "</strong></div>");
        currentMarkerInfoWindow.open(map, this);
        $(".gm-style-iw").next("div").hide();
    });

    google.maps.event.addListener(markerCurrent, 'mouseout', function () {
        currentMarkerInfoWindow.close();
        $(".gm-style-iw").next("div").show();
    });

    var html = "<div id='infowindow-content'>" +
            "<table>" +
            "<tr><td>Name:</td> <td><input type='text' id='name'/> </td> </tr>" +
            "<tr><td>Email:</td> <td><input type='text' id='email'/> </td> </tr>" +
            "<tr><td>Phone: </td><td><input type='text' id='phone'/></td></tr>" +
            "<tr><td>Activity:</td> <td><select id='meeting_type'>" +
            "<option value='coffee' SELECTED>Coffee</option>" +
            "<option value='beer'>Beer</option>" +
            "<option value='other'>Other</option>" +
            "</select> </td></tr>" +
            "<tr class='space-under' ><td colspan='2'>We don't need email <i>and</i> phone - one is fine.</td></tr></table>" +
            "<tr><td></td><td><input type='button' value='Join Us!' onclick='saveData()'/></td></tr>" +
            "</div>";

    infowindow = new google.maps.InfoWindow({
        content: html
    });

    markerInfoWindow = new google.maps.InfoWindow({
    });

    //oms = new OverlappingMarkerSpiderfier(map);

    // Create the search box and link it to the UI element.
    var input = /** @type {HTMLInputElement} */(
            document.getElementById('pac-input'));
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    var searchBox = new google.maps.places.SearchBox(
            /** @type {HTMLInputElement} */(input));

    // [START region_getplaces]
    // Listen for the event fired when the user selects an item from the
    // pick list. Retrieve the matching places for that item.
    google.maps.event.addListener(searchBox, 'places_changed', function () {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
            return;
        }

        // For each place, get the icon, place name, and location.
        var bounds = new google.maps.LatLngBounds();
        for (var i = 0, place; place = places[i]; i++) {
            var image = {

                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(25, 25)
            };

            if (allMarkers.length >= 1) allMarkers.pop().setMap(null);

            var marker = new google.maps.Marker({
                map: map,
                draggable: true,
                position: place.geometry.location
            });

            allMarkers.push(marker);
            infowindow.open(map, marker);
            $(".gm-style-iw").next("div").show();


            bounds.extend(place.geometry.location);
        }

        map.fitBounds(bounds);
        map.setZoom(14);
    });
    google.maps.event.addListener(map, "click", function (event) {

        update_timeout = setTimeout(function () {

            if (allMarkers.length >= 1) allMarkers.pop().setMap(null);
            var marker = new google.maps.Marker({
                map: map,
                draggable: true,
                position: event.latLng
            });
            allMarkers.push(marker);
            infowindow.open(map, marker);

        }, 200);
    });

    google.maps.event.addListener(map, 'dblclick', function (event) {
        clearTimeout(update_timeout);
    });

    google.maps.event.addListener(infowindow, 'closeclick', function () {
        allMarkers.pop().setMap(null); // remove the corresponding marker
    });

    google.maps.event.addListener(map, 'bounds_changed', function () {
        var bounds = map.getBounds();
        searchBox.setBounds(bounds);
    });

    placeDBMarkers(map, gon.markers);
    if (window.globalMarkers.length > 0) placeDBMarkers(map, window.globalMarkers);

}

function loadScript() {

    $.getScript("http://maps.google.com/maps/api/js?libraries=places&sensor=false&callback=initialize_map");

}

function saveData() {

    if (!validateForm({email: $('#email'), phone: $('#phone')}))
        return;

    var email = $('#email').val();
    var name = $('#name').val();
    var phone = $('#phone').val();
    var meeting_type = $('#meeting_type').val();
    var lastMarker = allMarkers.pop();
    var latitude = lastMarker.getPosition().lat().toString();
    var longitude = lastMarker.getPosition().lng().toString();
    var dataSet = {"email": email, "name": name, "phone": phone, "meeting_type": meeting_type,
        "latitude": latitude, "longitude": longitude};
    infowindow.close();

    window.globalMarkers.push({ name: name, latitude: parseFloat(latitude), longitude: parseFloat(longitude) });

    $.ajax({
        url: '/meetings',
        type: 'POST',
        data: dataSet
    });
}

function placeDBMarkers(map, markerSet) {
    var markersForCluster = [];
    //Spiderfy at max zoom w/ two markers on same location, when clustering doesn't work

    for (var i = 0; i < markerSet.length; i++) {
        if (markerSet[i].latitude && markerSet[i].longitude) {
            var archiveMarker = new google.maps.Marker({
                map: map,
                name: markerSet[i].name,
                position: {lat: markerSet[i].latitude, lng: markerSet[i].longitude}
            });
            //oms.addMarker(archiveMarker);
            google.maps.event.addListener(archiveMarker, 'mouseover', function () {
                markerInfoWindow.setContent("<div class='hover_name'><strong>" + this.name + "</strong></div>");
                markerInfoWindow.open(map, this);
                $(".gm-style-iw").next("div").hide();
            });
            google.maps.event.addListener(archiveMarker, 'mouseout', function () {
                markerInfoWindow.close();
                $(".gm-style-iw").next("div").show();
            });
            markersForCluster.push(archiveMarker);
        }
    }


    var markerCluster = new MarkerClusterer(map, markersForCluster);

}
