<div id="home">
    <h1>Blog</h1>
    <ul class="archive-feed">
        <li><a href="/blog/archive">Archive</a></li>
        <li><span>Feed</span></li>
    </ul>

    <!-- This loops through the paginated posts -->
    
    <h1><a href="/blog/2014/09/24/jenn-walks-butts/">Bubba 22222 ;)</a></h1>

    <p class="author">
        <span class="date">September 24, 2014</span>
    </p>

    <div class="content">
        <p>Ey bro,</p>

<hr />

<p>This is a sick blog platform integrated into the ish, but no posties yet.</p>

    </div>
    
    <h1><a href="/blog/2014/09/21/jenn-eats-butts/">Bubba 222 ;)</a></h1>

    <p class="author">
        <span class="date">September 21, 2014</span>
    </p>

    <div class="content">
        <p>Ey bro,</p>

<hr />

<p>This is a sick blog platform integrated into the ish, but no posties yet.</p>

    </div>
    
    <h1><a href="/blog/2014/09/20/jenn-eats/">Bubba ;)</a></h1>

    <p class="author">
        <span class="date">September 20, 2014</span>
    </p>

    <div class="content">
        <p>Ey bro, can't wait to hang.</p>

<hr />

<p>This is a sick blog platform integrated into the ish, but no posties yet.</p>

    </div>
    

    
    <div class="pagination" style="margin-bottom:50px">
        
        <span>&laquo; Newer</span>
        

        
        
        <em>1</em>
        
        
        
        <a href="/blog/page2">
            2</a>
        
        

        
        <a href="/blog/page2">Older &raquo;</a>
        
    </div>
    
</div>
