<h1> Blog Index </h1>
<h2>  </h2>


<div id="home">
    <div class="row-fluid">
        <div class="span10">
            <!-- This loops through the paginated posts -->

            
            
            
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">September 24, 2014</span>
                <span class="date" style="float:right">0 minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog/2014/09/24/jenn-walks-butts/" class="post-title">Bubba 22222 ;)</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em;">
                <p>Ey bro,</p>

<p>This is a sick blog platform integrated into the ish, but no posties yet.</p>

            </div>
            
            
            
            
            
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">September 21, 2014</span>
                <span class="date" style="float:right">0 minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog/2014/09/21/jenn-eats-butts/" class="post-title">Bubba 222 ;)</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em;">
                <p>Ey bro,</p>

<p>This is a sick blog platform integrated into the ish, but no posties yet.</p>

            </div>
            
            
            
            
            
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">September 20, 2014</span>
                <span class="date" style="float:right">0 minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog/2014/09/20/jenn-eats/" class="post-title">Bubba ;)</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em;">
                <p>Ey bro, can't wait to hang.</p>

<p>This is a sick blog platform integrated into the ish, but no posties yet.</p>

            </div>
            

            
            <div class="pagination span4 offset5" style="margin-top:5em; padding-bottom:3.125em">
                
                <span>&laquo; Newer</span>
                

                
                
                <em>1</em>
                
                
                
                <a href="/blog/page2">
                    2</a>
                
                

                
                <a href="/blog/page2">Older &raquo;</a>
                
            </div>
            
        </div>
        <ul class="archive-feed span2" style="list-style-type: none;">
            <li><a href="/blog/archive">Archive</a></li>
            <li><span>Feed</span></li>
        </ul>
    </div>
</div>
