@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('MonoSocialIconsFont-1.10.eot');
  src: url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
  url('MonoSocialIconsFont-1.10.woff') format('woff'),
  url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
  url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  overflow: hidden !important;
  padding-top: 60px;
  color: #333333;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.content {
  margin-left: 0px !important;
  a:hover {
    text-decoration: none;
  }
}

.post-title {
  color: #333;
  font-size: 30px;
  font-family: 'Vollkorn', Georgia, Times, serif;
}

.post-title:hover {
  color: #333;
}

.author {
  margin-left: 0px;
}

.date {
  font-size: 18px;
  font-color: #7a7a7a;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 1em;
}

ul.posts {
  list-style-type: none;
}

.content h3 {
  color: #FFFFFF;
  border-bottom: 1px solid;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Vollkorn', Georgia, Times, serif;
  /*font-size: 3em;
  letter-spacing: -2px;*/
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-weight: bold;
  margin-bottom: 35px;
}

.month-of-posts {
  margin-bottom: 35px;
  margin-top: -5px !important;
}

h3 {
  font-family: 'Vollkorn', Georgia, Times, serif;
}

p {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin: 0px 10px 10px 10px;
  font-size: 1.5em;
  letter-spacing: -1px;
  font-weight: bold;
  width: 1.75em;
  height: auto;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* nav bad */
.topmargin {
  margin-top: 1.5em;
}

.navbar .nav > li > a {
  padding: 0 15px 10px;
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-weight: 700 !important;

}

ul.nav a:link, a:visited {
  display: block;
  //width: 130px;
  font-weight: bold;
  text-align: center;
  //padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}

.activeNav {
  border-bottom: 3px solid #333333;
}

.activeNav a {
  color: #333333 !important;
}

.hero-unit {
  margin-top: 5em;
}

/* footer */

#footer {
  left: inherit;
  width: 15%;
  margin-top: 45px;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 10px;
  a {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #333333;
    &:hover {
      text-decoration: none;
      color: #333333;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* homepage */
#home_banner {
  max-width: 100%;
}

#navcontainer {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  height: 3.5em;
}

.container {
  margin-top: 5em;
}

.words {
  font-family: 'Lobster', Georgia, Times, serif;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  color: #333333;
  text-align: left;
  font-size: 30px;
}

.words:hover {
  text-decoration: none;
  color: #333333;
}

/* map div */
#map-canvas {
  width: 100%;
  height: 600px;
  border-radius: 15px;
  margin-bottom: 1em;
}

.map-container {
  margin-bottom: 5em;
}

//to fix squished zoom bar, google map image distortion
#map-canvas img {
  max-width: none;
}

//push name down from top of info window so it doesnt get covered by address input
#infowindow-content {
  margin-top: 20px;
}

//input labels lined up with input in map form
label {
  display: inline-block;
}

//bad input on forms for map, red outline of inputs
.invalid-input {
  border: 1px solid red !important;
}

/* padding bottom of map, more spacious */

.hover_name {
  margin-left: 20px;
}

.pagination {
  margin-bottom: 0px !important;
  margin-top: 2em;
}

.navbar-fixed-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}

.archive-feed a, .archive-feed-footer a, .next a, .previous a {
  color: #333333;
  text-decoration: none;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.toolbarContainer {
  display: none !important;
}

.archive-post a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.archive-post a:visited {
  color: #777777;
}

.pager {
  margin-top: 5em;
  padding-bottom: 3.125em
}

#authorname {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  margin-bottom: 1.414em;
}

#gravatar {
  float: right;
  margin-right: 1em;
}

/*
.gmno-print {
  z-index: 10000;
  position: relative !important;
}*/

//social media symbols

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  margin: 0 10px;
  font-size: 300%;
}

a.symbol {
  padding: 3px 5px 3px 5px;
  color: #333333;
  text-decoration: none;
}

#externals {
  width: 100%;
  margin-top: 20px;
}

#externals ul {
  margin-left: 0px;
}

.externals-list > li {
  list-style: none;
  display: inline;
}

.contact-wrapper {
  margin-top: 20px;
}

.archive-post {
  line-height: 1.5;
}

.archive-post span {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 18px;
  font-weight: 500;
}

.archive-post a {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 18px;
  font-weight: 700;
}

.about-image {
  margin-bottom: 20px;
  height: 30%;
  width: 30%;
}

.home-image-container {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 50px;
  background-image: image-url('jenngabe.jpg');
}

.home-image-container h1 {
  color: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity=95); /* For IE8 and earlier */
}

.home-image-currently {
  float: left;
  margin: 20px;
  color: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity=95); /* For IE8 and earlier */
  margin-top: 125px;
}

.home-image-location {
  float: right;
  margin: 20px;
  color: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity=95); /* For IE8 and earlier */
  margin-top: 125px;
}

.post-month h2 {
  margin-top: -1px;
}

.hang-touch {
  margin-top: 20px;
}

.section-line {
  margin: 75px 0px;
}