<div id="home">
    <h1>Blog</h1>
    <ul class="archive-feed">
        <li><a href="/blog/archive">Archive</a></li>
        <li><span>Feed</span></li>
    </ul>

    <!-- This loops through the paginated posts -->
    
    <h1><a href="/blog/2014/08/24/jenn-rocks/">Hey there Adamface ;)</a></h1>

    <p class="author">
        <span class="date">2014-08-24 00:00:00 -0400</span>
    </p>

    <div class="content">
        <p>Ey bro, can't wait to hang.</p>

<hr />

<p>This is a sick blog platform integrated into the ish, but no posties yet.</p>

    </div>
    
    <h1><a href="/blog/2014/08/24/eating-peanuts/">Eating Peanuts</a></h1>

    <p class="author">
        <span class="date">2014-08-24 00:00:00 -0400</span>
    </p>

    <div class="content">
        <p>I love peanuts. I love to eat peanuts.</p>

    </div>
    
    <h1><a href="/blog/2014/08/24/eating-peanut-butter/">Eat eat peanut butter</a></h1>

    <p class="author">
        <span class="date">2014-08-24 00:00:00 -0400</span>
    </p>

    <div class="content">
        <p>I love eating peanut butter..</p>

    </div>
    

    
    <div class="pagination" style="margin-bottom:50px">
        
        <a href="/blog/">&laquo; Newer</a>
        

        
        
        <a href="/blog/index.html">1</a>
        
        
        
        <em>2</em>
        
        

        
        <span>Older &raquo;</span>
        
    </div>
    
</div>
