<div id="home">
    <div class="row-fluid">
        <div class="span9">
            <!-- This loops through the paginated posts -->

            
            
            
            
            
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">August 24, 2014</span>
                <span class="date" style="float:right; margin-right:1em;">1 minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog/2014/08/24/jenn-rocks/" class="post-title">Hey there Adamface ;)</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em; ">
                <p>Ey bro, can't wait to hang.</p>

<p>This is a sick blog platform integrated into the ish, but no posties yet.</p>

                <hr>
            </div>

            
            
            
            
            
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">August 24, 2014</span>
                <span class="date" style="float:right; margin-right:1em;">1 minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog/2014/08/24/eating-peanuts/" class="post-title">Eating Peanuts</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em; ">
                <p>I love peanuts. I love to eat peanuts.</p>

                <hr>
            </div>

            
            
            
            
            
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">August 24, 2014</span>
                <span class="date" style="float:right; margin-right:1em;">1 minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog/2014/08/24/eating-peanut-butter/" class="post-title">Eat eat peanut butter</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em; ">
                <p>I love eating peanut butter..</p>

                <hr>
            </div>

            

            <ul class="pager">
                
                <li class="previous"><a
                        href="/blog/">&larr;
                    Older</a></li>
                
                
            </ul>

        </div>
        <ul class="archive-feed span2" style="list-style-type: none; padding-left:2em; border-left: 1px solid #333;">
            <li><a href="/blog/archive">Archive</a></li>
            <li><a href="/blog">Feed</a></li>
        </ul>
    </div>
</div>
