<h1> Blog Index </h1>
<h2>  </h2>


<div id="home">
    <div class="row-fluid">
        <div class="span10">
            <!-- This loops through the paginated posts -->

            
            
            
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">August 24, 2014</span>
                <span class="date" style="float:right">0 minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog/2014/08/24/jenn-rocks/" class="post-title">Hey there Adamface ;)</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em;">
                <p>Ey bro, can't wait to hang.</p>

<p>This is a sick blog platform integrated into the ish, but no posties yet.</p>

            </div>
            
            
            
            
            
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">August 24, 2014</span>
                <span class="date" style="float:right">0 minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog/2014/08/24/eating-peanuts/" class="post-title">Eating Peanuts</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em;">
                <p>I love peanuts. I love to eat peanuts.</p>

            </div>
            
            
            
            
            
            <p class="span12 author" style="margin-left: 0px;">
                <span class="date">August 24, 2014</span>
                <span class="date" style="float:right">0 minute read</span>
            </p>

            <h3 class="span12 content post-title"><a href="/blog/2014/08/24/eating-peanut-butter/" class="post-title">Eat eat peanut butter</a>
            </h3>
            <br>

            <div class="span11 content" style="margin-bottom: 3em;">
                <p>I love eating peanut butter..</p>

            </div>
            

            
            <div class="pagination span4 offset5" style="margin-top:5em; padding-bottom:3.125em">
                
                <a href="/blog/">&laquo;
                    Newer</a>
                

                
                
                <a href="/blog/index.html">1</a>
                
                
                
                <em>2</em>
                
                

                
                <span>Older &raquo;</span>
                
            </div>
            
        </div>
        <ul class="archive-feed span2" style="list-style-type: none;">
            <li><a href="/blog/archive">Archive</a></li>
            <li><span>Feed</span></li>
        </ul>
    </div>
</div>
