<div class="navbar navbar-fixed-bottom span6 offset11" id="footer">
  <nav>
    <ul>
      <li><%= link_to "Blog", 'blog#proxy' %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</div>